.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}


.pagination a:visited {
  color: #474955;
}

.pagination a {
  text-decoration: none;
}

.pagination_btn {
  border: none;
  background: inherit;
  outline: none;
  color: #474955;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 137.687%;
  /* 33.045px */
}

.pagination_digits {
  color: #474955;
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
  line-height: 137.687%;
}

.digit {
  margin: 5px;
  cursor: pointer;
}

.digit.active {
  color: #7EBC3C !important;
  pointer-events: none;
}
